@{
    ViewData["Title"] = "Category/Application Management System";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Select Category or Application to begin</a>.</p>
</div>
